<div class="border border-dark">
  <div class="text-center text-dark fst-italic mb-5 mt-3">
    <h1>imagePost</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
