<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="border border-dark">
    <div class="text-center text-dark fst-italic mb-5 mt-3">
      <h1>imagePost</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <%= link_to '会員登録', signup_path, class: 'btn btn-dark me-2' %>
  <%= link_to 'ログイン', login_path, class: 'btn btn-dark ms-2' %>
  </div>
<% end %>

