
.border {
  margin: 100px 100px 20px;
}

.btn-outline-dark:hover {
  background-color: transparent;
  border-color: Black;
  color: Black;
}

.like-icon {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(80%) contrast(112%);
}

.unlike-icon {
  margin-top: 2px;
  width: 30px;
  height: 30px;
}
